$bgCinza: linear-gradient(90deg, #232526 0%, #414345 100%);
$bgLaranja: linear-gradient(62deg, #ffbf00 0%, #f7ce68 100%);
$bgAzul: linear-gradient(140deg, #00c6ff 0%, #0072ff 100%);
$bgPreto: linear-gradient(90deg, #000000 0%, #000000 100%);

page-cadastro {
    ion-content{
    background: $bgPreto;
    }
    /* TIRANDO O SOMBREAMENTO DO HEADER ANDROID */
    .header-md::after {
      background-image: none!important;
    }
    /* TIRANDO O SOMBREAMENTO DO HEADER IPHONE */ 
    .toolbar-background-ios{
      border-width: 0 0 0 !important;
    }
    /* TIRANDO A LINHA */
    .list-ios > .item-block:first-child {
      border-top: 0 !important; 
    }
    /* DESABILITANDO A ROLAGEM (SCROLL */
    /*.scroll-content{
      overflow-y: hidden !important;
    } */
  }