<ion-content padding class="card-background-page">
        <ion-card>
            <img src="../../assets/imgs/triforce.png"/>
        </ion-card>
  <div class="boxLogin">
      <!-- <img src="../../assets/imgs/gamepad.svg" width="150px" height="150px" alt=""> -->
      <p *ngIf="isUsuarioValido">Bem vindo {{ nomeUsuario }}</p>
  </div>
  
      <ion-list>
          <ion-item>
              <ion-label stacked>Usuário do Github</ion-label>
            <ion-input type="email" [(ngModel)]="email" (blur)="buscarUserGithub()"></ion-input>
        </ion-item>
  
          <ion-item *ngIf="isUsuarioValido">
              <ion-label stacked>Senha</ion-label>
              <ion-input type="password" [(ngModel)]="senha"></ion-input>
          </ion-item>
  
          <ion-item *ngIf="isUsuarioValido">
              <button id="btnLogin" ion-button block round (click)="fazerLogin()">ENTRAR</button>
              <br/>
              <p (click)="abrirCadastro()">Crie sua conta</p>
          </ion-item>
  
      </ion-list>
  </ion-content>
